# Enable URL rewriting
RewriteEngine On

# Redirect all /api/ requests to the PHP proxy index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ api/index.php [QSA,L]
